:root {
    --primary-color: #FFA500;
    --white-color: #fff;
    --text-color: #333;
    --border-color: #e0e0e0;
    --line-clamp: 2;
    --soft-color: #f2c160;
    --border-color: #dbdbdb; /* ? */
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--white-color);
}

button,
select,
input,
textarea {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* Common */
.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btn.btn--default-color {
    background-color: #E06A1C;
}

/* Keyframe fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframe scaleUp */
@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
