.cart-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flex {
    display: flex;
    align-items: center;
}
.cart-header {
    background: var(--primary-color);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.shop-block {
    background: var(--white-color);
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}
.shop-title {
    padding: 10px 14px;
    border-bottom: 1px solid var(--primary-color);
}
.shop-title .date-add{
    color: var(--primary-color);
}
.shop-checkbox {
    appearance: none;         
    -webkit-appearance: none;  
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);   
    border-radius: 4px;        
    cursor: pointer;
    position: relative;
}

.shop-checkbox:checked {
    background-color: var(--primary-color);    
}

.shop-checkbox:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 3px;
}
.item-checkbox {
    appearance: none;         
    -webkit-appearance: none;  
    border: 2px solid var(--primary-color);           
    cursor: pointer;
    border-radius: 2px; 
    min-width: 15px;   
    min-height: 15px;
    position: relative;
}

.item-checkbox:checked {
    background-color: var(--primary-color);    
}

.item-checkbox:after {
    content: "✔";
    color: white;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 3px;
}
.select-all-footer {
    appearance: none;         
    -webkit-appearance: none;  
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);   
    border-radius: 4px;        
    cursor: pointer;
    position: relative;
}

.select-all-footer:checked {
    background-color: var(--primary-color);    
}

.select-all-footer:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 3px;
}
.shop-checkbox {
    appearance: none;         
    -webkit-appearance: none;  
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);   
    border-radius: 4px;        
    cursor: pointer;
    position: relative;
}

.shop-checkbox:checked {
    background-color: var(--primary-color);    
}

.shop-checkbox:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 3px;
}
.cart-item {
    padding: 14px;
    border-bottom: 1px solid var(--primary-color);
}
.cart-item:last-child {
    border-bottom: none;
}
.colum {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.product-col { width: 40%; gap: 10px; justify-content: flex-start}  
.price-col { width: 25%; justify-content: center; }  
.qty-col { width: 15%; justify-content: center; }   
.total-col { width: 12%; justify-content: center; } 
.action-col { width: 13%; justify-content: center; } 

.product-col img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.item-info p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}
.item-qty button {
    width: 28px;          
    height: 28px;         
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--soft-color);
    border: none;
    color: var(--primary-color)f;
    font-size: 18px;
    cursor: pointer;
}

.item-qty button:hover {
    background-color: var(--primary-color);
}
.item-qty .text {
    width: 36px;         
    height: 28px;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    margin: 0 6px;
    font-size: 14px;
}
.price-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.old-price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
    margin-bottom: 2px;
}

.price-note {
    font-size: 13px;
    color: var(--primary-color);
}

.new-price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.new-price-row {
    display: flex;
    gap: 3px;
}
.new-price {
    font-size: 16px;
    margin-bottom: 2px;
}
.currency {
    font-size: 14px;
    opacity: 2;
}
.price-discount {
    font-size: 13px;
    color: var(--primary-color);
}
.cart-footer {
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid var(--primary-color);
}

.footer-btn, .buy-btn, .item-delete {
    background-color: var(--soft-color);
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.footer-btn:hover, .buy-btn:hover, .item-delete:hover {
    background-color: var(--primary-color);
}
.empty-message {
    display: none; 
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    border-radius: 6px;
}
.featured-list{
    padding-top: 40px;
}
.featured-list .featured{
   border: 1px solid var(--primary-color);
}
.list{
    margin-top:20px;
}
