body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #333;
    background-color: #f7f7f7;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #FF8C00;
}

.container {
    padding: 0 10%;
    /* Khôi phục padding/margin cho container */
    max-width: 100%;
}

/* --- HEADER --- */
.main-header {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.main-header .logo {
    display: flex;
    align-items: center;
}

.main-header img {
    height: 70px;
    margin-right: 30px;
}

.main-header h1 {
    font-size: 2.1rem;
    font-weight: 600;
    margin: 0;
    color: var(--text-color, #333) !important;
    white-space: nowrap;
}

/* --- NỘI DUNG CHÍNH --- */

.main-content {
    position: relative;
    min-height: 80vh;
}

.banner-section {
    background: url("../img/banner-background.jpg") center / cover no-repeat;
    background-color: #f7931e;
    height: 600px;
}

.login-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    z-index: 10;
}

.login-form {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 380px;
    font-size: inherit;
}

.login-form h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid #FF8C00;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

/* --- INPUT  --- */
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 0 1px #ccc;
    transition: box-shadow 0.2s ease;
}

.login-form input:focus {
    box-shadow: 0 0 0 0.5px #000000;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #FF8C00;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.2s;
}

.btn-login:hover {
    background-color: #e07b00;
}

/* --- QUÊN MẬT KHẨU --- */
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
    font-size: 13px;
}


/* --- ĐĂNG KÝ --- */
.register-link {
    text-align: center;
    font-size: 14px;
    color: #888;
}

.register-link a {
    color: #FF8C00;
    font-weight: bold;
}