/* CSS phần media chi tiết sản phẩm */
.product-details__inner {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
}

.media-details {
    flex-shrink: 0;
    width: 480px;
}

.media-details__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.more-details {
    margin-top: 10px;
    display: flex;
    column-gap: 5px;
}

.more-details__thumb {
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    /* padding: 0; */
    padding: 0;
}

.more-details__img {
    padding: 4px;
    width: 82px;
    height: 82px;
    object-fit: cover;
}

.content-details {
    flex: 1;
}

.content-details__heading {
    width: 600px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #333;
}

.content-quantity,
.content-feedback__rating,
.content-sold,
.content-feedback,
.content-details__review-wrap {
    display: flex;
    align-items: center;
}

.content-details__review-wrap {
    margin-top: 10px;
}

.content-feedback__level {
    margin-right: 5px;
    font-size: 1.6rem;
    color: #333;
}

.content-sold__text {
    margin-right: 5px;
    font-size: 1.6rem;
    color: #888;
}

.content-details__separate {
    display: block;
    border: 1px solid #EAEAEA;
    height: 20px;
    margin: -2px 16px 0;
}

.content-details__desc-wrap {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.content-details__desc {
    width: 100px;
    margin-right: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}

.content-details__price {
    font-size: 2.4rem;
    font-weight: 700;
    color: #E06A1C;
}

.content-details__info {
    font-size: 1.6rem;
    color: #333;
}

.content-quantity {
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 32px;
}

.content-quantity__btn {
    padding: 0 2px;
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.content-quantity__btn--disable {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

.content-quantity__number {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #333;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    user-select: none;
    -webkit-user-select: none;
}

.content-details__act {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.content-details__cart-btn {
    --height: 48px;

    min-width: 198px;
    border-radius: 2px;
    border: 1px solid #E06A1C;
    font-size: 1.6rem;
    font-weight: 500;
    color: #E06A1C;
    background: rgba(224, 106, 28, 0.2);
}

.content-details__cart-icon {
    position: relative;
    top: 1px;
    margin-right: 10px;
    font-size: 2rem;
}

.content-details__buy {
    --height: 48px;

    min-width: 160px;
    border-radius: 2px;
    font-size: 1.6rem;
}

.content-details__trp {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.content-details__trp-text {
    font-size: 1.6rem;
    color: #757575;
}

.content-details__trp-link {
    display: flex;
    font-size: 1.6rem;
    color: #0089e0;
}

.content-details__trp-icon {
    margin-right: 4px;
}