/* CSS phần media chi tiết sản phẩm */
.product-details {
    padding: 20px 0;
}

.product-details__inner {
    display: flex;
    column-gap: 20px;
}

.media-details {
    flex-shrink: 0;
    width: 480px;
    align-self: flex-start;
}

.media-details__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.more-details {
    margin-top: 10px;
    display: flex;
    column-gap: 5px;
}

.more-details__thumb {
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    padding: 0;
}

.more-details__img {
    padding: 4px;
    width: 82px;
    height: 82px;
    object-fit: cover;
}

.content-details {
    flex: 1;
}

.content-details__heading {
    width: 600px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #333;
}

.content-quantity,
.content-feedback__rating,
.content-sold,
.content-feedback,
.content-details__review-wrap {
    display: flex;
    align-items: center;
}

.content-details__review-wrap {
    margin-top: 14px;
}

.content-feedback__level {
    margin-right: 5px;
    font-size: 1.6rem;
    color: #333;
}

.content-sold__text {
    margin-right: 5px;
    font-size: 1.6rem;
    color: #888;
}

.content-details__separate {
    display: block;
    border: 1px solid #EAEAEA;
    height: 20px;
    margin: -2px 16px 0;
}

.content-details__desc-wrap {
    margin-top: 14px;
    display: flex;
    align-items: center;
}

/* Làm phần thông tin sản phẩm có option */
.content-details__option {
    margin-top: 20px;
}

.radio {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 20px;
}

.radio + .radio {
    margin-left: 8px;
}

.radio::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 6px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.radio:has(:checked)::before {
    border-color: var(--primary-color);
}

.radio:has(:checked)::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--primary-color);
}

.radio [type='radio'] {
    display: none;
}

.content-details__desc {
    width: 100px;
    margin-right: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}

.content-details__price {
    font-size: 2.4rem;
    font-weight: 700;
    color: #E06A1C;
}

.content-details__info {
    font-size: 1.6rem;
    color: #333;
}

.content-quantity {
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 32px;
}

.content-quantity__btn {
    padding: 0 2px;
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.content-quantity__btn--disable {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

.content-quantity__number {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #333;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    user-select: none;
    -webkit-user-select: none;
}

.content-details__act {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.content-details__cart-btn {
    --height: 48px;

    min-width: 198px;
    border-radius: 2px;
    border: 1px solid #E06A1C;
    font-size: 1.6rem;
    font-weight: 500;
    color: #E06A1C;
    background: rgba(224, 106, 28, 0.2);
}

.content-details__cart-icon {
    position: relative;
    top: 1px;
    margin-right: 10px;
    font-size: 2rem;
}

.content-details__buy {
    --height: 48px;

    min-width: 160px;
    border-radius: 2px;
    font-size: 1.6rem;
}

.content-details__trp {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.content-details__trp-text {
    font-size: 1.6rem;
    color: #757575;
}

.content-details__trp-link {
    display: flex;
    font-size: 1.6rem;
    color: #0089e0;
}

.content-details__trp-icon {
    margin-right: 4px;
}

/* Làm phần mô tả sản phẩm */
.product-desc {
    padding: 20px 0;
}
.product-desc__inner {
    display: flex;
    border-top: 2px solid #e4e4e4;
}

.product-desc__content {
    margin-top: 20px;
    padding-right: 15px;
}

.product-desc__name {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.product-desc__text {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
}

.product-desc__text--bullet {
    position: relative;
    padding-left: 15px;
}

.product-desc__text--bullet::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: var(--text-color);
}

.product-desc__thumb {
    margin: 15px 0;
}

.product-desc__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.product-desc__view-more {
    margin-top: 15px;
}