/* CSS phần lọc */
.search__filter-header {
    margin: 32px 0 16px;
    display: flex;
    align-items: center;
}

.search__filter-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.search__filter-heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.search__filter-category {
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.search__filter-category:first-of-type {
    padding-top: 0;
}

.search__filter-category:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.search__filter-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.search__filter-options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search__filter-checkbox {
    position: relative;
    display: flex;
    align-items: center;
}

.search__filter-checkbox::before,
.search__filter-checkbox::after {
    content: "";
    display: inline-block;
}

.search__filter-checkbox::before {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 2px solid #999;
    border-radius: 4px;
}

.search__filter-item [type='checkbox']:checked ~ .search__filter-checkbox::before {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.search__filter-item [type='checkbox']:checked ~ .search__filter-checkbox::after {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 9px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    rotate: -45deg;
}