/* CSS phần lọc */
.search-filter__header {
    margin: 32px 0 16px;
    display: flex;
    align-items: center;
}

.search-filter__icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.search-filter__heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.search-filter__category {
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.search-filter__category:first-of-type {
    padding-top: 0;
}

.search-filter__category:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.search-filter__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.search-filter__options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-filter__checkbox {
    position: relative;
    display: flex;
    align-items: center;
}

.search-filter__checkbox::before,
.search-filter__checkbox::after {
    content: "";
    display: inline-block;
}

.search-filter__checkbox::before {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 2px solid #999;
    border-radius: 4px;
}

.search-filter__item [type='checkbox']:checked ~ .search-filter__checkbox::before {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.search-filter__item [type='checkbox']:checked ~ .search-filter__checkbox::after {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 9px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    rotate: -45deg;
}

.search-filter-reviews {
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s;
}

.search-filter-reviews:first-of-type {
    margin-top: 10px;
}

.search-filter-reviews__input {
    display: none;
}

.search-filter-reviews__input:checked + .search-filter-reviews__content {
    background-color: rgba(0, 0, 0, .09);
    border-radius: 6px;
    padding: 6px 8px;
}

/* product list*/
.search-header {
    background-color: #fff; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-bottom: 3px solid var(--primary-color);
    display: flex;          
    gap: 10px;           
    align-items: center;  
}
.search-header p {
    color: var(--primary-color); 
    font-size: 2rem; 
}
.search-header .word-search{
    color: var(--primary-color); 
    font-size: 1.5rem; 
}
.product-search-list {
    background-color: #fff; 
    border-radius: 8px; 
    padding: 15px; 
    margin-top: 20px; 
}
.product-card .price-discount {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 4px;
    margin-bottom: 5px;
}

.price-discount .price-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.price-discount .price-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price-discount .price-bottom .new-price {
    color: red;
}

.price-discount .price-top .old-price {
    color: #989292;
    text-decoration: line-through;
    font-weight: normal;
}

.price-discount .price-top .discount-badge {
    background-color: #FFF9C4;
    color: red;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 10;
}

